<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <title>Detroit Cupcake Compa</title>
  </head>
  <body>
    <header>
      <h1>Detroit Cupcake Company</h1>
    </header>
    <nav>
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#menu">Menu</a></li>
        <li><a href="#location">Location</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href= "http://localhost:8000/cupcakes">Click to Order</a></li>
      </ul>
    </nav>
    <main>
      <section id="about">
        <h2>About Us</h2>
        <p>At Detroit Cupcake Co., we specialize in handcrafted, homemade cupcakes made with the freshest ingredients. Our bakers are dedicated to creating delicious and beautiful cupcakes that are sure to delight your taste buds.</p>
      </section>
      <section id="menu">
        <h2>Our Menu</h2>
        <ul>
          <li>Chocolate Delight Cupcake</li>
          <li>Red Velvet Cupcake</li>
          <li>Oreo Cupcake</li>
          <li>Strawberry Shortcake Cupcake</li>
          <li>Cinnamon Bun Cupcake</li>
        </ul>
      </section>
      <section id="location">
        <h2>Find Us</h2>
        <p>Detroit Metropolitan Area, USA</p>
      </section>
      <section id="contact">
        <h2>Contact Us</h2>
        <p>Email: info@detroitcupcakeco.com</p>
        <p>Phone: 313-555-6874</p>
      </section>
    </main>
    <footer>
      <p>Copyright © 2021 Detroit Cupcake Company</p>
    </footer>
  </body>
</html>